//colors
$cream: #F5E5D9;
$brown: #7E401F;
//fonts
$righteous: 'Righteous', cursive;
$comfortaa: 'Comfortaa', cursive;

// grid
$width-sm: 576px;
$iphone6-landscape: 667px;
$plus6-landscape: 756px;
$width-md: 768px;
$iphonex-landscape: 812px;
$width-lg: 992px;
$ipad-height: 1024px;
$pro-height: 1366px;
