.petbook-container {
	max-width: 1440px;
	min-width: 375px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: $cream;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.4);
	
	&::before {
		content: '';
		display: block;
		height: 65px;
		background: url('../images/topWaves.png') no-repeat top center;
		background-size: cover;
		
		@media (min-width: 495px) {
			background: url('../images/topWaves2.png') no-repeat top center;
			height: 80px;
		}

		@media (min-width: 634px) {
			height: 85px;
		}

		@media (min-width: $width-md) {
			@include pos($r:0);
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
			height: 150px;
			width: 75%;
		}

		@media (orientation: landscape), (min-width: 396px) {
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
		}

		@media (min-width: $iphone6-landscape) {
			height: 110px;			
		}

		@media (min-width: 812px) and (orientation: landscape) and (max-height: 375px) {
			width: 100%;
		}

		@media (max-height: 667px) and (max-width: 375px) {
			height: 50px;
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
		}	

		@media (min-width: 1105px) {
			height: 142px;
		}

	}
}


.header {
	display: flex;
	justify-content: space-around;
	width: 100%;

	@media (min-width: $iphone6-landscape) {
		position: absolute;
		top: 10px;
		width: 75%;
		right: 0;
	}
	
	&__logo {
		padding-top: 35px;
		
		@media (min-width: $iphone6-landscape) {
			padding-top: 10px;
		}
	}

	&__wrapper {
		@media (min-width: $iphone6-landscape) {
			display: flex;
		}
	}

	&__profile {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: linear-gradient(to right, rgba(214,148,113,1) 0%,rgba(126,64,31,1) 100%);
		@media (min-width: $iphone6-landscape) {
			order: 1;
			margin-left: 35px;
		}
	}

	&__add-advert {
		@include pos($b:150px);
		width: 345px;
		height: 50px;
		background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-height: 666px) {
			@include pos($b: 20px, $l:50%);
			transform: translateX(-50%);
		}

		@media (min-width: $iphone6-landscape) {
			position: static;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}
}


.dog-image {
	display: none;
	position: relative;
	
	@media (min-width: $width-md) and (max-width: 1742px) {
		display: block;
		align-self: flex-end;
		width: 45%;
	}

	@media (max-height: 375px) {
		display: none;
	}

	@media (min-width: 1024px) {
		width: 40%;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		@include pos($l:-80%, $t:0);
		display: block;
		width: 87%;
		padding: 10px;
		border-radius: 8px;
		background: rgba(0,0,0,.2);
		line-height: 25px;
		font-size: 16px;
		
		
		@media (min-width: $width-md) {
			@include pos($l:-55%, $t:-100px);
			width: 45%;
		}

		@media (min-width: 1350px) {	
			@include pos($l:-65%, $t:50px);
			display: block;
			width: 50%;
			font-size: 22px;
		}

	}
}


.navigation {
	margin-top: 50px;
	display: flex;
	justify-content: center;

	@media (min-width: 667px) {
		margin-top: 10px;
	}

	@media (min-width: 736px) {
		justify-content:space-between;
		.navigation-menu {
			background: #fff;
		}
	}

	@media (min-width: 768px), (max-height: 375px)  {
		margin-top: 0;
	}

	@media (min-width: 812px) and (orientation: landscape) {
		margin-top: 120px;
		
		.navigation-menu {
			background: transparent;
		}
	}

	
	@media (min-width: $width-md), (min-width: 813px), (min-width: 992px), (min-height: 992px) {
		margin-top: 0;
		justify-content: space-between;
		height: 100%;
		
		
		.navigation-menu {
			background: #fff;
			align-items: flex-start;
			justify-content: flex-start;
			padding-top: 30px;
			flex-wrap: nowrap;
		}
	}
	
	&-menu {
		display: flex;
		justify-content: space-between;
		width: 85%;
		flex-wrap: wrap;
		background: transparent;
		padding-left: 0;
		

		@media (min-width: $width-md), (min-height: 1024px)  {
			justify-content: center;
			width: 25%;
			flex-direction: column;
			border-right: 2px solid $brown;

		}

		@media (max-height: 375px), (max-height: 414px)  {
			justify-content: center;
			flex-direction: row;
			width: 50%;
			border: 2px solid transparent;
		}

		@media (min-width: 1350px) {
			padding-left: 50px;
		}



		&__item {
			@include size(80px);
			border-radius: 8px;
			margin-bottom: 50px;
			position: relative;
			color: #000;
			
			@media (min-width: $iphone6-landscape) {
				@include size(45px);
				margin: 0 25px 40px 25px;
			}

			@media (min-height: 1024px), (min-width: 1024px) {
				@include size(60px);
			}

			@media (min-width: 1350px) {
				@include size(80px);
			}

		}

		&__img {
			@media (min-width: $iphone6-landscape) {
				@include size(35px);
			}

			@media (min-width: 1350px) {
				@include size(100%);
			}
		}

		&__link {
			position: relative;
			background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
			width: 100%;
			height: 100%;
			z-index: 4;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__subtitle {
			@include pos($b:-23px);
			text-align: center;
			width: 100%;

			@media (min-width: $iphone6-landscape), (min-width: 812px) and (orientation: landscape) {
				@include pos($l:-50%, $b:-20px);
				transform: none;
				text-align: center;
				width: 200%;
			}

			@media (min-width: $width-md) {
				width: 230%;
				position: static;
				transform: translateX(60px) translateY(-30px);
				text-align: left;
			}

			@media (min-height: 1024px), (min-width: 1024px) {
				transform: translateX(80px) translateY(-30px);
			}

			@media (min-width: 1350px) {
				transform: translateX(100px) translateY(-45px);
			}
		}


		&__item:nth-child(5), &__item:nth-child(8) {
			@media (min-width: $width-md) {
				@include pos($b:0);
				
				.navigation-menu__subtitle {
					display: none;
				}
			}

		}

		&__item:nth-child(5) {
			@media (min-width: $width-md) {
				left: 0;		
			}

			@media (min-width: 1350px) {
				left: 50px;
			}
		}



		&__item:nth-child(7) {
			@media (min-height: 816px) {
				display: none;
			}

			@media (min-height: 768px) and (min-width: 1024px) {
				display: none;
			}	
		}



		&__item:nth-child(8) {
			@media (min-width: $width-md) {
				left: 80px;	
			}

			@media (min-width: 1350px) {
				left: 160px;	
			}


		}


		&__item:nth-child(6) &__subtitle {
			bottom: -35px;
			@media (min-width: $iphone6-landscape) {
				bottom: -33px;
			}
		}
		&__item:nth-child(9) &__subtitle {
			left: -15px;
			@media (min-width: $iphone6-landscape) {
				left: -33px;
			}
		}


	}
}

.wave-1, .wave-2, .wave-3 {
	position: absolute;
	width: 115%;
	height: 115%;
	top: -5px;
	left: -5px;
	animation: drift linear infinite;
	transform-origin: 50% 48%;
	border-radius: 38%;
	filter: opacity(0.4);
}

.wave-1 {
	background: linear-gradient(to right, rgba(214,148,113,1) 1%,rgba(126,64,31,1) 100%);
	z-index: 3;
	animation-duration: 5s;

}

.wave-2 {
	background: linear-gradient(to right, rgba(214,148,113,1) 1%,rgba(206,84,20,1) 100%);
	z-index: 2;
	animation-duration: 7s;

}

.wave-3 {
	background: linear-gradient(to right, rgba(255,210,186,1) 1%,rgba(238,118,54,1) 100%);
	z-index: 1;
	animation-duration: 9s;
}



@keyframes drift {
	from {
		transform: rotate(360deg);
	}
}
