.petbook-container {
	max-width: 1440px;
	min-width: 375px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: $cream;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.4);
	
	&::before {
		content: '';
		display: block;
		height: 65px;
		background: url('../images/topWaves.png') no-repeat top center;
		background-size: cover;
		
		@media (min-width: 495px) {
			background: url('../images/topWaves2.png') no-repeat top center;
			height: 80px;
		}

		@media (min-width: 634px) {
			height: 85px;
		}

		@media (min-width: $width-md) {
			@include pos($r:0);
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
			height: 150px;
			width: 66%;
		}

		@media (orientation: landscape), (min-width: 396px) {
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
		}

		@media (min-width: $iphone6-landscape) {
			height: 110px;			
		}
		@media (min-width: $ipad-height) {
			height: 126px;
		}
		@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
			width: 100%;
		}

		@media (max-height: 667px) and (max-width: 375px) {
			height: 50px;
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
		}	


	}
}


.header {
	display: flex;
	justify-content: space-around;
	width: 100%;

	@media (min-width: $iphone6-landscape) {
		position: absolute;
		top: 10px;
		width: 75%;
		right: 0;
	}
	
	&__logo {
		padding-top: 35px;
		cursor: pointer;
		
		@media (min-width: $iphone6-landscape) {
			padding-top: 10px;
		}
		@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
			margin-left: 30px;
		}
		@media (min-width: $width-md) {
			margin-left: 40px;
		}
		&--main {

			@media (max-height: 415px) and (min-height: 315px) {
				display: none;
			}
			@media (max-height: $ipad-height) and (max-width: 415px)  {
				display: none;
			}
			@media (min-width: $iphone6-landscape) {
				padding-top: 10px;
			}
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				margin-left: 30px;
			}
			@media (min-width: $width-md) {
				margin-left: 40px;
			}
		}

	}

	&__wrapper {
		@media (min-width: $iphone6-landscape) {
			display: flex;
		}
	}

	&__profile {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: linear-gradient(to right, rgba(214,148,113,1) 0%,rgba(126,64,31,1) 100%);
		&--main {
			@media (max-height: 415px) and (min-height: 315px) {
				display: none;
			}
			@media (max-height: $ipad-height) and (max-width: 415px)  {
				display: none;
			}
			
		}
		@media (min-width: $iphone6-landscape) {
			order: 1;
			margin-left: 35px;
		}
	}

	&__add-advert {
		@include pos($b:150px);
		width: 345px;
		height: 50px;
		background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		&--main {
			width: 345px;
			height: 50px;
			background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
			border-radius: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			
			@media (min-width: $iphone6-landscape) {
				position: static;
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
			@media (max-width: 430px) and (min-height: $width-sm) {
				@include size(50px);
				@include pos($r: 17px, $t:70px); 
			}
		}
		@media (min-height: 666px) {
			@include pos($b: 20px, $l:50%);
			transform: translateX(-50%);
		}

		@media (min-width: $iphone6-landscape) {
			position: static;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}
}
 // dog image

 .dog-image {
 	display: none;
 	position: relative;

 	@media (min-width: $width-md) and (max-width: 1742px) {
 		display: block;
 		align-self: flex-end;
 		width: 45%;
 	}

 	@media (min-width: $ipad-height) {
 		width: 40%;
 	}

 	@media (max-height: 785px) { 
 		width: 35%;
 	}

 	@media (max-height: 700px) {
 		width: 30%;
 	}

 	@media (max-height: 621px) {
 		width: 25%;
 	}

 	@media (max-height: 540px) {
 		width: 15%;
 	}

 	@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
 		display: none;
 	}

 	@media (min-width: $pc-width) {
 		display: block;
 		align-self: flex-end;
 	}

 	img {
 		width: 100%;
 		height: auto;
 	}


 }




 .navigation {
 	margin-top: 50px;
 	display: flex;
 	justify-content: center;
 	position: relative;
 	&--main {
 		
 		@media (max-height: 415px) and (min-height: 315px) {
 			display: none;
 		}
 		@media (max-height: $ipad-height) and (max-width: 415px)  {
 			display: none;
 		}

 	}

 	@media (min-width: 667px) {
 		margin-top: 10px;
 	}

 	@media (min-width: 768px), (max-height: 375px)  {
 		margin-top: 0;
 	}

 	@media (min-width: 812px) and (orientation: landscape) {
 		margin-top: 65px;
 	}

 	@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px)  {
 		justify-content: center;
 	}

 	@media (min-width: $iphonex-landscape+21px) {
 		margin-top: 0;
 		justify-content: space-between;
 		height: 100vh;
 	}
 	@media (min-width: $width-md) and (min-height: $width-md) {
 		justify-content: space-between;
 	}

 	@media (min-width: $width-md) and (min-height: $ipad-height) {
 		justify-content: space-between;
 		min-height: 100vh;
 	}
 	&__info {
 		@include pos($l:48%, $t:20%);
 		
 		display: none;
 		@media (min-width: $width-md) {
 			display: block;
 			width: 40%;
 			font-size: 2rem;
 		}
 		@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
 			display: none;
 		}
 		@media (min-width:  $ipad-height) {
 			@include pos($l:38%, $t:20%);
 		}

 		@media (min-width: $ipad-height) and (min-height: $pro-height) {
 			font-size: 2.7rem;
 			@include pos($l:45%, $t:20%);
 		}
 		@media (min-width: $pro-height) and (min-height: $ipad-height){
 			font-size: 2.5rem;
 			width: 27%;
 			@include pos($l:35%, $t:20%);
 		}
 		@media (min-width: $pro-height +1px) {
 			width: 26%;
 		}
 	}


 	&-menu {
 		display: flex;
 		justify-content: space-between;
 		width: 77%;
 		flex-wrap: wrap;
 		background: transparent;
 		padding-left: 0;

		//  media for nav menu
		@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {

			justify-content: center;
		}
		@media (min-width: $iphonex-landscape+21px) {
			background: #fff;
			font-size: 1.7rem;
		}
		@media (min-width: $width-md) and (min-height: $width-md) {
			background: #fff;

		}


		@media (min-width: 736px) and (max-width: 736px) {
			justify-content: center;
			width: 64%;
		}

		@media (min-width: $width-md) and (max-width: $pro-height) , (min-height: $ipad-height)  {
			justify-content: flex-start;
			padding-top: 50px;
			width: 34%;
			flex-direction: column;
			border-right: 2px solid $brown;
			

		}
		@media (min-width: $width-md) and (min-height: 500px ) {
			min-height: 100vh;
		}

		@media (min-height: 375px) and  (max-height: 414px)  {
			justify-content: center;
			flex-direction: row;
			width: 50%;
			border: 2px solid transparent;
		}


		@media (min-width: $pc-width) {
			padding-left: 50px;
			justify-content: flex-start;
			padding-top: 50px;
			width: 34%;
			flex-direction: column;
			border-right: 2px solid $brown;
		}
		@media (min-width: $pro-height) and (min-height: $ipad-height) {
			padding: 0 50px;
		}
		
		//  ___________________________________________________________________________________

		&__item {
			@include size(80px);
			border-radius: 8px;
			margin-bottom: 50px;
			position: relative;
			color: #000;
			
			@media (min-width: $iphone6-landscape) {
				@include size(45px);
				margin: 0 25px 40px 25px;
			}
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				@include size(51px);
			}
			@media (min-width: $width-md) and (min-height: $ipad-height) {
				@include size(60px);
				margin:15px 0 15px 5px;

			}
			@media (min-width: $width-md) and (min-height: $ipad-height) {
				margin-left: 20px;
			}
			@media (min-width: $iphonex-landscape+21px) {
				@include size(50px);
				margin:10px 0 10px 45px;
			}
			@media (min-width: $ipad-height) and (min-height: $pro-height) {
				@include size(80px);
				margin:20px 0 20px 45px;
			}
			@media (min-width: 1350px) {
				@include size(80px);
				margin:15px 0 15px 5px;
			}
			@media (min-width: $pro-height+1px) {
				@include size(50px);
				margin:10px 0 10px 5px;
			}


		}

		&__img {
			@media (min-width: $iphone6-landscape) {
				@include size(35px);
			}

			@media (min-width: 1350px) {
				@include size(100%);
			}
			@media (min-width: $ipad-height) and (min-height: $pro-height) {
				@include size (50px);
			}
			@media (min-width: $pro-height+1px) {
				@include size(30px);
			}
		}

		&__link {
			position: relative;
			background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
			width: 100%;
			height: 100%;
			z-index: 4;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__subtitle {
			@include pos($b:-23px);
			text-align: center;
			width: 100%;
			//  media for menu subtitle
			@media (min-width: $iphone6-landscape), (min-width: 812px) and (orientation: landscape) {
				@include pos($l:-50%, $b:-20px);
				transform: none;
				text-align: center;
				width: 200%;
			}

			@media (min-width: $width-md) {
				width: 230%;
				position: static;
				transform: translateX(60px) translateY(-30px);
				text-align: left;
			}
			@media (min-width: $width-md), (min-height: $ipad-height) {
				width: 350%;

			}
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				transform: translateX(0px) translateY(10px);
			}
			@media (min-height: $ipad-height), (min-width: $ipad-height) {
				transform: translateX(80px) translateY(-30px);
			}

			@media (min-width: $width-md) and (min-height: $ipad-height) {
				font-size: 1.35rem;
			}

			@media (min-width: 1350px) {
				transform: translateX(100px) translateY(-45px);
			}
			@media (min-width: $ipad-height) and (min-height: $pro-height) {
				transform: translateX(105px) translateY(-45px);
				font-size: 1.7rem;
			}
			@media (min-width: $pro-height) and (min-height: $ipad-height) {
				font-size: 2rem;
			} 
			@media (min-width: $pro-height +1px) {
				transform: translateX(70px) translateY(-33px);
			}


			
		}

		&__item:nth-child(7) {
			@media (max-height: 800px) {
				display: block;
			}
		}

		&__item:nth-child(1) &__subtitle {
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				transform: translateX(-20px) translateY(10px);
			}
		}

		&__item:nth-child(6) &__subtitle {
			bottom: -35px;
			@media (min-width: $iphone6-landscape) {
				bottom: -33px;
			}
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				transform: translateX(-30px) translateY(10px);
			}
			@media (min-width: $iphonex-landscape+21px) {
				transform: translateY(-30px) translateX(80px);
			}
			@media (min-width: $ipad-height) and (min-height: $pro-height) {
				transform: translateY(-45px) translateX(110px);
			}
			@media (min-width: $pro-height) and (min-height: $ipad-height) {
				transform: translateY(-45px) translateX(100px);
			}
			@media (min-width: $pro-height +1px) {
				transform: translateX(70px) translateY(-35px);
			}
		}
		&__item:nth-child(7) &__subtitle {
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				transform: translateX(3px) translateY(10px);
			}
		}
		&__item:nth-child(9) &__subtitle {
			left: -15px;
			@media (min-width: $iphone6-landscape) {
				left: -33px;
			}
			@media (min-width: $iphonex-landscape) and (max-width: $iphonex-landscape+20px) {
				transform: translateX(-30px) translateY(10px);
			}
		}
 // _________________________________________________________________________________

}
}

