#map-wrapper {
	height: 80%;
	width: 90%;
	margin:80px auto 0;
	border-radius: 8px;
	border: 1px solid $brown;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 15px 1px $brown;

	
	@media (min-width: $width-md) {
		margin:140px auto 0;
		width: 60%;
		height: 63rem;
	}

	form {
		@include pos($t:15px, $l:15px);
		width: 30%;
		background: $brown;
		border-radius: 5px;
		padding: 10px;
		
		label {
			color: #fff;
			display: inline-block;
			padding-bottom: 10px;
		}
		
		input {
			border-radius: 5px;
			background: $cream;
			padding: 5px;
			width: 100%;
		}

		select {
			margin: 20px 0;
		}

		button {
			border-radius: 5px;
			padding: 5px;
		}

		.preview {
			display: flex;
			justify-content: center;
			background: $cream;
			padding: 10px 0;
			border-radius: 5px;
			
			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			p {
				background: #FFF;
				padding: 5px 10px;
				border-radius: 6px;
				margin-bottom: 5px;
				color: #000;
			}

			// img {
			// 	width: 100%;
			// }
		}

		p {
			padding-top: 10px;
			color: #fff;
		}
	}

}

#map {
	height:100%;
}

.faq {
	@include pos($b:-100%, $r: 0);
	transition: all 1.5s ease-in-out;
	
	&.show {
		bottom: 0;
		
		.layer:nth-child(1) {
			animation: swing .5s 1 ease-in-out;
		}

		.layer:nth-child(2) {
			animation: swing 1s 1 ease-in-out;
		}

		.layer:nth-child(3) {
			animation: swing 1.2s 1 ease-in-out;
		}
	}
	
	.layers {
		position:relative;
		height: 400px;
		color: #fff;
		transform-origin: right bottom;
		
		.layer {
			@include pos($b:0, $r: 0);
			animation-fill-mode: forwards;
			
			p {
				display: flex;
				align-items: center;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 2px solid rgba(255, 255, 255, .5);
			}

			span {
				padding-left: 10px;
			}

			img {
				width: 25%;
			}

		}
		
		.layer:nth-child(1) {
			@include size(250px, 400px);
			background: url('../images/layers/layer1.png') top center no-repeat;
			z-index:3;
			padding: 40px;
			animation: swing 0.5s 1 ease-in-out;
		}
		.layer:nth-child(2) {
			@include size(285px, 410px);
			background: url('../images/layers/layer2.png') top center no-repeat;
			z-index:2;
			// animation: swing 1s 1 ease-in-out;
		}
		.layer:nth-child(3) {
			@include size(284px, 420px);
			background: url('../images/layers/layer3.png') top center no-repeat;
			z-index:1;
			// animation: swing 1.5s 1 ease-in-out;
		}

		.close-button {
			@include pos($t:15px, $r: 15px);
			@include size(35px, 35px);
			z-index: 5;
			background: $brown;
			border-radius: 50%;
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
			transform: rotate(0);
			// transition: all .5s ease-in-out;
			
			&:hover {
				transform: rotate(360deg);
			}
		}
	}
}


.faq-button {
	@include pos($b:15px, $r: 15px);
	@include size(45px, 50px);
	background: red;
	background: $brown;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	
	&:hover {
		background: lighten($brown, 20%);
	}
}

@keyframes swing {
0 {transform: rotate(-45deg)}
50% {transform: rotate(45deg)}
100% {transform: rotate(0)}
}
