.petbook-container {
	max-width: 1440px;
	min-width: 375px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: $cream;
	position: relative;
	overflow: hidden;
	
	&::before {
		content: '';
		display: block;
		height: 65px;
		background: url('../images/topWaves.png') no-repeat top center;
		background-size: cover;

		@media (min-width: $width-md) {
			background: url('../images/topWaves2.png') no-repeat top center;
			height: 150px;
			width: 75%;
		    margin-left: auto;
		    position: absolute;
		    right: 0;
		}


		@media (min-width: $iphone6-landscape) {
			height: 110px;
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;


		}

		@media (max-height: 375px) {
			height: 110px;
			width: 100%;
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;

		}

		@media (max-height: 667px) and (max-width: 375px) {
			height: 50px;
			width: 100%;
			background: url('../images/topWaves2.png') no-repeat top center;
			background-size: cover;
		}	

	}
}


.header {
	display: flex;
	justify-content: space-around;
	width: 100%;

	@media (min-width: $iphone6-landscape) {
		position: absolute;
		top: 10px;
		width: 75%;
    	right: 0;
	}
	
	&__logo {
		padding-top: 35px;
		@media (min-width: $iphone6-landscape) {
			padding-top: 10px;
		}
	}

	&__wrapper {
		@media (min-width: $iphone6-landscape) {
			display: flex;
		}
	}

	&__profile {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: linear-gradient(to right, rgba(214,148,113,1) 0%,rgba(126,64,31,1) 100%);
		@media (min-width: $iphone6-landscape) {
			order: 1;
			margin-left: 35px;
		}
	}

	&__add-advert {
		@include pos($b:150px);
		width: 345px;
		height: 50px;
		background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-height: 666px) {
			@include pos($b: 20px, $l:50%);
			transform: translateX(-50%);
		}

		@media (min-width: $iphone6-landscape) {
			position: static;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}
}


.dog-image {
	display: none;
	
	img {
		width: 100%;
		height: auto;
	}
	
	@media (min-width: 667px) and (max-width: 1742px) {
		display: block;
		align-self: flex-end;
	}

	@media (max-height: 375px) {
		display: none;
	}
}

.navigation {
	margin-top: 50px;
	display: flex;
	justify-content: center;

	@media (min-width: 667px) {
		margin-top: 10px;

	}

	@media (min-width: 736px) {

		.navigation-menu {
			background: #fff;
		}
	}

	@media (min-width: 768px), (max-height: 375px)  {
		margin-top: 0;
	}

	@media (min-width: 812px) {
		margin-top: 120px;
		
		.navigation-menu {
			background: transparent;
		}
	}

	
	@media (min-width: 813px), (min-width: 992px), (min-height: 992px) {
		margin-top: 0;
		justify-content: space-between;
		height: 100%;
		
		
		.navigation-menu {
			background: #fff;
			align-items: center;
		}
	}
	
	&-menu {
		display: flex;
		justify-content: space-between;
	    width: 85%;
		flex-wrap: wrap;
		background: transparent;

		@media (min-width: 667px), (min-height: 1024px)  {
			justify-content: center;
			width: 25%;
			flex-direction: column;
			// background: #fff;
			// background: transparent;
		}

		@media (max-height: 375px), (max-height: 414px)  {
			justify-content: center;
			flex-direction: row;
			width: 50%;
		}


		&__item {
			@include size(80px);
			border-radius: 8px;
			margin-bottom: 50px;
			position: relative;
			color: #000;
			
			@media (min-width: $iphone6-landscape) {
				@include size(45px);
				margin: 0 25px 40px 25px;
			}


		}
		&__img {
			@media (min-width: $iphone6-landscape) {
				@include size(35px);
			}
		}
		&__link {
			position: relative;
			background: red;
			background: linear-gradient(270deg, #7E401F 0%, #D69471 100%);
			width: 100%;
			height: 100%;
			z-index: 4;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			&__subtitle {
			position: absolute;	
			bottom: -23px;
			text-align: center;
			width: 100%;
			@media (min-width: $iphone6-landscape) {
				width: 200%;
				left: -50%;
				bottom: -20px;
			}

		}
		&__item:nth-child(6) &__subtitle {
			bottom: -35px;
			@media (min-width: $iphone6-landscape) {
				bottom: -33px;
			}
		}
		&__item:nth-child(9) &__subtitle {
			left: -15px;
				@media (min-width: $iphone6-landscape) {
				left: -33px;
			}
		}


	}
}

.wave-1, .wave-2, .wave-3 {
	position: absolute;
	width: 115%;
	height: 115%;
	top: -5px;
	left: -5px;
	animation: drift linear infinite;
	transform-origin: 50% 48%;
	border-radius: 38%;
	filter: opacity(0.4);
}

.wave-1 {
	background: linear-gradient(to right, rgba(214,148,113,1) 1%,rgba(126,64,31,1) 100%);
	z-index: 3;
	animation-duration: 5s;

}

.wave-2 {
	background: linear-gradient(to right, rgba(214,148,113,1) 1%,rgba(206,84,20,1) 100%);
	z-index: 2;
	animation-duration: 7s;

}

.wave-3 {
	background: linear-gradient(to right, rgba(255,210,186,1) 1%,rgba(238,118,54,1) 100%);
	z-index: 1;
	animation-duration: 9s;
}






@keyframes drift {
	from {
		transform: rotate(360deg);
	}
}
